
Lesson 1/Lesson1_kat2342618/.vs/Lesson1_kat2342618/DesignTimeBuild/.dtbcache.v2
Lesson 1/Lesson1_kat2342618/.vs/Lesson1_kat2342618/FileContentIndex/2918a05f-a4bc-4f2a-be86-e55316bcad3b.vsidx
Lesson 1/Lesson1_kat2342618/.vs/Lesson1_kat2342618/FileContentIndex/3cf58720-8f15-4c6a-a64b-178d24fec824.vsidx
*.vsidx
*.v2
Lesson 1/Lesson1_kat2342618/.vs/Lesson1_kat2342618/v17/.suo
*.bin
*.json
*.dll
*.exe
*.pdb
*.csproj
*.sln
*.cs
*.cache
*.BuildWithSkipAnalyzers
*.txt
*.editorconfig
*.props
*.targets
*.zip
Lesson 2/Lesson2_kat2342618/.vs/Lesson2_kat2342618/v17/.suo
